  body {
      background: rgb(83, 80, 80) url("../src/images/bg.jpg") no-repeat center;
  }
  
  .card {
      border-radius: 12px;
      background-color: rgba(245, 82, 237, 0.459);
  }
  
  .card img {
      height: 258px;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
  }
  
  .cart {
      background-color: rgba(226, 226, 213, 0.5);
      border-radius: 10px;
      font-weight: 600;
  }
  
  .cart li {
      background-color: rgba(255, 255, 255, 0.548);
  }
  
  footer {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.596);
  }